.hinh1 {
  background: url(./images/Hinh-ca-map-cute-6.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.hinh2 {
  background: url(./images/3c9e96fc84cd6f76a8a95ced6ebc55c2.jpg) no-repeat
    center;
  background-size: cover;
  height: 100vh;
}
.hinh3 {
  background: url(./images/ca-map-an-trai-tim-9942720.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.hinh4 {
  background: url(./images/Hinh-ca-map-cute-58.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.hinh5 {
  background: url(./images/hinh-nen-ca-map-cute.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
